.room-img {
  max-width: 200px;
  height: 114px;
  overflow: hidden;
  aspect-ratio: 240/14;
}

.room-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-name {
  font-size: 17px;
  color: #000;
}