{% extends 'home.html' %}

{% block title %}
  Chi tiết khuyến mãi
{% endblock %}

{% block content %}
<h1 class="text-center pt-2">Chi tiết khuyến mãi</h1>
<div class="d-flex justify-content-center pb-5">
  <div style="width: 50%;" class="border border-2 bg-hotel rounded d-flex justify-content-center py-4">
    <form style="width: 90%;" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <center>
        <button class="btn bg-button">Xác nhận sửa</button>
      </center>
    </form>
  </div>
</div>
{% endblock %}