{% extends 'home.html' %}

{% block title %}
  Đã đặt lại mật khẩu
{% endblock %}

{% block content %}
<h1 class="text-center pt-2">Đã đặt lại mật khẩu</h1>
<div class="d-flex justify-content-center pb-5">
  <div style="width: 50%;" class="border border-2 bg-hotel rounded d-flex justify-content-center py-4">
    <div style="width: 90%;">
      <div class="text-center">Mật khẩu của bạn đã được đặt lại, bạn có thể <a href="/login/">đăng nhập</a> để sử dụng dịch vụ</div>
    </div>
  </div>
</div>
{% endblock %}