{% extends 'home.html' %}

{% block title %}
  Kiểm tra email
{% endblock %}

{% block content %}
<h1 class="text-center pt-2">Đã gửi Email</h1>
<div class="d-flex justify-content-center pb-5">
  <div style="width: 50%;" class="border border-2 bg-hotel rounded d-flex justify-content-center py-4">
    <div style="width: 90%;">
      <h4 class="text-center">Kiểm tra email của bạn để nhận mật khẩu</h4>
      <br>
      <div class="text-center">Cảm ơn đã sử dụng dịch vụ của chúng tôi</div>
    </div>
  </div>
</div>
{% endblock %}